<div class="color_background">
  <br/>
  <div class="about-head">
    <h2>Learn, Share, Build</h2>
    <p>CommunitySpaec is the largest online community for programmers to</p>
    <p><b>learn, share</b> their knowledge and <b>build</b> their careers.</p>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-1"></div>
    <div class="col-lg-8 col-md-8 col-sm-12">
      <h3>Who we are?</h3>
      <p>We are a bunch of developers who wants to provide a good experiance and good answers/solutions to the problems
        of
        other developers like us.</p>
      <h3>Lorem Ipsum</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident.</p>
      <h3>Developers</h3>
      <ul>
        <li>Rahul Sindhav</li>
        <li>Hardik Solanki</li>
      </ul>
      <h3>Reference to designs</h3>
      <ul>
        <li>material.angular.io</li>
        <li>getbootstrap.com</li>
        <li>www.w3schools.com</li>
        <li>Google material design for web</li>
      </ul>
    </div>
    <div class="col-lg-2 col-md-2"></div>
  </div>
</div>
