<div class="color_background" style="width: 100%;height: 100%; padding-top: 50px">
  <!-- Material design card to hold the signup formn -->
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><h3>Contact Us</h3></mat-card-title>
      <mat-card-subtitle>Summry</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <!-- Different form fields for the signup fomr with propper validators in .ts files -->
      <mat-form-field color="accent" style="width: 100%;">
        <input matInput placeholder="Name" [formControl]="nameFormControl" [errorStateMatcher]="matcher">
        <mat-error *ngIf="nameFormControl.hasError('required')">
          Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field color="accent" style="width: 100%">
        <input matInput placeholder="Email" [formControl]="emailFormControl"
               [errorStateMatcher]="matcher">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field color="accent" style="width: 100%">
        <mat-select placeholder="Select appropriate option" [formControl]="selectFormControl"
                    [errorStateMatcher]="matcher">
          <mat-option *ngFor="let option of options" [value]="option.value">
            {{option.viewValue}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="nameFormControl.hasError('required')">
          This field is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field color="accent" style="width: 100%">
        <textarea matInput placeholder="Enter the message"></textarea>
      </mat-form-field>

    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Submit Request</button>
      <button mat-button>Reset</button>
    </mat-card-actions>
  </mat-card>
</div>
