<div class="container-fluid">
  <div class="row">
    <!-- Column for the navigation panel -->
    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 color_background text-white">
      <br/>
      <br/>
      <!-- sticky-top class to prevent this column from scrolling, to make it sticky -->
      <div class="sticky-top color_background" style="z-index: -0;">
        <!-- list of the navigation links -->
        <mat-list role="list">
          <mat-divider></mat-divider>
          <mat-list-item role="listitem">
            <button mat-button>Communities that I follow</button>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item role="listitem">
            <button mat-button>Featured Communities</button>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item role="listitem">
            <button mat-button>Top Communities</button>
          </mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
      </div>
    </div>

    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 bg-dark scrollit">
      <div class="row">
      </div>
    </div>

    <div class="col-xl-2 col-lg-2 col-md col-sm-12 color_background text-white">
      <br/>
      <!-- sticky-top class to prevent this column from scrolling, to make it sticky -->
      <div class="sticky-top" style="z-index: -0;">
        <!-- class right border will provie the verticle line to seperate two column -->
        <div class="right_border">
          <h3>Navigate</h3>
          <mat-list role="list">
            <mat-divider></mat-divider>
            <mat-list-item role="listitem">
              <button mat-button>Community Home</button>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item role="listitem">
              <button mat-button>Members Area</button>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item role="listitem">
              <button mat-button>Question Desk</button>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item role="listitem">
              <button mat-button>Ongoing event1</button>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item role="listitem">
              <button mat-button>Ongoing event 2</button>
            </mat-list-item>
            <mat-divider></mat-divider>
          </mat-list>
        </div>
      </div>
    </div>
  </div>
</div>
