<mat-horizontal-stepper [linear]="isLinear" #stepper style="color:white;">
  <mat-step>
    <ng-template matStepLabel>How to Ask</ng-template>
    <h3>How to Ask</h3>
    <div class="seperator" style="height: 1px;width:50%; background-color: gray"></div>
    <br>
    <p>Welcome to Stack Overflow!</p>
    <p>We’d love to help you, but the reality is that not every question gets answered. To improve your chances, here
      are some tips:</p>

    <h4>Search, and research</h4>
    <p>Have you thoroughly searched for an answer before asking your question? Sharing your research helps everyone.
      Tell us what you found (on this site or elsewhere) and why it didn’t meet your needs. This demonstrates that
      you’ve taken the time to try to help yourself, it saves us from reiterating obvious answers, and above all, it
      helps you get a more specific and relevant answer!</p>
    <h4>Be on-topic</h4>
    <p>Our community is defined by a specific set of topics in the help center; please stick to those topics and avoid
      asking for opinions or open-ended discussion. If your question is about the site itself, ask on our
      meta-discussion site. If you’re looking for a different topic, it might be covered on another Stack Exchange
      site.</p>

    <h4>Be specific</h4>
    <p>If you ask a vague question, you’ll get a vague answer. But if you give us details and context, we can provide a
      useful, relevant answer.</p>

    <h4>Make it relevant to others</h4>
    <p>We like to help as many people at a time as we can. Make it clear how your question is relevant to more people
      than just you, and more of us will be interested in your question and willing to look into it.</p>

    <h4>Keep an open mind</h4>
    <p>The answer to your question may not always be the one you wanted, but that doesn’t mean it is wrong. A conclusive
      answer isn’t always possible. When in doubt, ask people to cite their sources, or to explain how/where they
      learned something. Even if we don’t agree with you, or tell you exactly what you wanted to hear, remember: we’re
      just trying to help.</p>
    <div>
      <button color="primary" mat-raised-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup" (ngSubmit)="onSubmit()">
      <ng-template matStepLabel>Ask Your Question</ng-template>
      <mat-form-field class="askq">
        <input matInput placeholder="Question" formControlName="questionCtrl">
      </mat-form-field>
      <br/>
      <mat-form-field class="askq">
        <textarea matInput placeholder="Detailed Discription" formControlName="discriptionCtrl"></textarea>
      </mat-form-field>
      <br/>
      <mat-form-field class="askq">
        <mat-chip-list #chipList>
          <mat-chip *ngFor="let topic of topics" [selectable]="selectable"
                    [removable]="removable" (removed)="remove(topic)">
            {{topic.name}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="Tags"
                 [matChipInputFor]="chipList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="addOnBlur"
                 (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button type="submit" mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>Now sit back and relax...</p>
    <p>We have got your question.</p>
    <p>We will notify you as soon as someone will answer your question.</p>
    <div>
      <button (click)="home()" mat-raised-button color="primary">Done</button>
    </div>
  </mat-step>

</mat-horizontal-stepper>
